@inherits EditUserView


<EditForm Model="@UserViewModel" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <MudDialog Style="width: 40%;">
        <DialogContent>
            <div style="border-bottom: 1px solid grey; padding-bottom: 15px;margin-top:-24px;" class="d-flex justify-content-between">
                <MudButton Style="margin-right: 5%;" type="submit" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Save</MudButton>
            </div>
            <MudTextField Label="PersonName"
            @bind-Value="UserViewModel.PersonName" For="@(() => UserViewModel.PersonName)" />
            <MudTextField Label="PersonSurname"
            @bind-Value="UserViewModel.PersonSurname" For="@(() => UserViewModel.PersonSurname)" />
            <MudTextField Label="Password"
            @bind-Value="UserViewModel.Password" For="@(() => UserViewModel.Password)" />
            <MudTextField Label="Login"
            @bind-Value="UserViewModel.Login" For="@(() => UserViewModel.Login)" />
            <MudSelect T="int" Label="RoleId" Variant="Variant.Text" @bind-Value="UserViewModel.RoleId">
                @foreach (var item in Globals.UserList)
                {
                    <MudSelectItem Value="@item.RoleId">@item.RoleName</MudSelectItem>
                }
            </MudSelect>
            <MudTextField Label="RoleId"
            @bind-Value="UserViewModel.RoleId" For="@(() => UserViewModel.RoleId)" />
        </DialogContent>
    </MudDialog>
</EditForm>
